---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import { contentfulClient } from '../lib/contentful';
import SocialLinks from '../components/SocialLinks.astro';

const num = [...new Array(75).fill(1)],
  num2 = [...new Array(120).fill(1)];

const cards = [
  {
    name: 'I code.',
    page: 'code',
    imgTitle: 'Code Card',
    hoverText: 'code',
    hoverTextRepeatNum: num,
  },
  {
    name: 'I design.',
    page: 'design',
    imgTitle: 'TeacherSouls - Businesscard Mockup',
    hoverText: 'design',
    hoverTextRepeatNum: num,
  },
  {
    name: 'I snap.',
    page: 'snap',
    imgTitle: 'MM 0909',
    hoverText: 'snap',
    hoverTextRepeatNum: num,
  },
  {
    name: 'I am.',
    page: 'about',
    imgTitle: 'Profile Picture Alt',
    hoverText: 'am',
    hoverTextRepeatNum: num2,
  },
];

const response = await contentfulClient.getAssets({
  'fields.title[in]': cards.map((card) => card.imgTitle), // Comma-separated list of titles
});
---

<Layout disableHeadToToe>
  <div class="homepage-container">
    <div class="links-container">
      <div class="logo-container">
        <a href="/" class="logo-content">Kaung Nan Dar Shein</a>
      </div>
      <div class="links">
        {
          cards.map((card) => {
            const curr_item = response.items.find((item) => item.fields.title == card.imgTitle);
            if (!curr_item || !curr_item.fields.file)
              throw new Error(`Could not fetch ${card.imgTitle}.`);
            return (
              <div class={card.page}>
                <a href={`/${card.page}`}>
                  <div class="link-title">{card.name}</div>
                  <div class="link-hover">
                    {card.hoverTextRepeatNum.map(() => {
                      return <span>{card.hoverText}</span>;
                    })}
                  </div>
                  <Image
                    class="image"
                    alt={curr_item.fields.description || ''}
                    src={`https://${curr_item.fields.file.url}`}
                    inferSize
                  />
                </a>
              </div>
            );
          })
        }
      </div>
    </div>
    <div class="bottom-container">
      <p>Software Developer</p>
      <div class="social-links">
        <SocialLinks />
      </div>
    </div>
  </div>
</Layout>

<style>
  .homepage-container {
    position: absolute;
    left: 50%;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    max-width: var(--view-size);
    transform: translate(-50%, 0);
  }

  .links-container {
    position: relative;
    height: 60%;
    width: 100%;
    padding: 35px 25px 25px 25px;
    border: 2px solid var(--homepage-border);
    border-top: none;
  }

  .logo-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;

    &::before,
    &::after {
      content: '';
      display: block;
      flex: 2 0 0;
      height: 1px;
      border-top: 2px solid var(--color-primary);
    }

    .logo-content {
      height: 26px;
      text-transform: uppercase;
      font-size: var(--logo-font-size);
      font-family: var(--font-title);
      font-weight: 700;
      font-style: normal;
      line-height: var(--logo-line-height);
      text-align: center;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: -20px;
      color: var(--color-primary)
    
      &:hover {
        color: var(--logo--hover);
      }
    }

    &::before,
    &::after {
      border-top: 2px solid var(--homepage-border);
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .code,
  .snap,
  .design,
  .about {
    height: 100%;
    width: 23%;
    overflow: hidden;

    &:hover {
      .link-hover {
        display: block;
      }
    }

    a {
      color: var(--color-primary);
    }
  }

  .link-title {
    font-weight: 500;
    font-size: 1.75rem;
    margin-bottom: 5px;
  }

  .link-hover {
    display: none;
    height: 100%;
    word-wrap: break-word;
    line-height: clamp(2rem, 2vw, 3rem);

    span {
      font-weight: 300;
      font-size: clamp(2rem, 1.75vw, 3.25rem);
      color: var(--homepage-link-hovers);

      &:nth-child(2n) {
        color: var(--color-accent);
      }
    }
  }

  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .bottom-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

    p {
      font-size: 1.5rem;
      color: var(--color-primary);
    }

    .social-links {
      margin-top: 5px;
    }
  }

  @media only screen and (max-width: $mobileSize) {
    .homepage-container {
      justify-content: flex-start;
      align-items: flex-end;
      width: 100%;
      padding: 20px 20px 0 20px;
    }

    .links-container {
      height: 90%;
      width: 100%;
      margin-top: 20px;
      padding: 15px;
    }

    .logo-container {
      .logo-content {
        font-size: var(--logo-font-size);
      }
    }

    .links {
      flex-flow: column;
    }

    .code,
    .snap,
    .design,
    .about {
      height: 24%;
      width: 100%;
    }
  }

  @media (hover: none), (hover: on-demand) {
    .logo-container {
      .logo-content {
        &:hover {
          color: var(--color-primary);
        }
      }
    }

    .code,
    .snap,
    .design,
    .about {
      &:hover {
        .link-hover {
          display: none;
        }
      }
    }
  }
</style>
